body {
  background-color: #222;
  color: #fff;
}

a {
  color: #10B7FB;
}

.grid {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 980px) {
  .grid {
    width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .grid {
    width: 724px;
  }
}

#canvas {
  display: block;
  margin: 10px auto;
  background-color: #e4e4e4;
}

#load {
  position: absolute;
  z-index: 2;
  right: 15px;
  margin: 0;
}

#output {
  padding-right: 105px;
}

.error {
  color: #B31414;
  font-weight: 600;
}

.hide {
  display: none;
}

.CodeMirror-scroll {
  padding-right: 135px;
}

