* {
  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}

body {
  background-color: #222;
  color: #fff;
}

a {
  color: #10B7FB;
}

.grid {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 980px) {
  .grid {
    width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .grid {
    width: 724px;
  }
}

#canvas {
  display: block;
  margin: 10px auto;
  background-color: #e4e4e4;
}

#saved-gist {
  font-weight: 800;
}

#output {
  padding-right: 105px;
}

.error {
  color: #B31414;
  font-weight: 600;
}

.hide {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
}
